:root {
  /* Paleta de colores */
  --primary-soft-color:#b3bde0;
  --secondary-soft-color:#051557;
  --primary-dark-color:#0a2d9e;
  --secondary-dark-color:#56597f;
  --black:#05001e;
  /* Fonts */
  --primary-font:"Quicksand";
  --secondary-font:"Raleway";
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-soft-color);
}

.logo {
  background-image: url("https://image.flaticon.com/icons/png/512/1674/1674294.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 15px 0 35px;
}

.logo {
  background-image: url("https://image.flaticon.com/icons/png/512/1674/1674294.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 5px 0 8px;
}

.main-nav {
  padding: 0px;
  background-color: var(--black);
  margin: 0 auto;
}

.main-nav--options {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  cursor: pointer;
}

.main-nav__item {
  text-align: center;
  padding: 15px 16px;
}
.main-nav__item a {
  text-decoration: none;
  color: var(--primary-soft-color);
}
.main-nav__item:hover {
  background-color: var(--primary-dark-color);
  color: #ffe3de;
}

@media (min-width: 634px) {
  .main-nav {
    margin: 0 auto;
    padding: 0px;
    background-color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.bio {
  padding-top: 20px;
  margin: auto 35px;
}

.bio h1 {
  font-family: var(--secondary-font);
  color: var(--secondary-soft-color);
}

.bio h3 {
  font-family: var(--secondary-font);
  color: var(--secondary-soft-color);
}

.bio p {
  margin: 1em 0;
  line-height: 1.6em;
  text-align: justify;
  font-size: 1.1rem;
  color: var(--secondary-soft-color);
}

@media (min-width: 321px) {
  .bio {
    padding-top: 50px;
    margin: auto 90px;
  }
}