:root {
/* Paleta de colores */
  --primary-soft-color: #6e8a9b;
  --secondary-soft-color: #7c949d;
  --primary-dark-color: #51636f;
  --secondary-dark-color: #9fa5a8;
  --black: #0c1219;
/* Fonts */
  --primary-font: 'Quicksand';
  --secondary-font: 'Raleway';
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--primary-font), sans-serif;
}
