@import "./globales.scss";
@import "./header.scss";
@media (min-width: 634px) {
    .main-nav {
        margin: 0 auto;
        padding: 0px;
        background-color: var(--black);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.bio {
    padding-top: 20px;
    margin: auto 35px;
}
.bio h1 {
    font-family: var(--secondary-font);
    color: var(--secondary-soft-color);
}
.bio h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-soft-color);
}
.bio p {
    margin: 1em 0;
    line-height: 1.6em;
    text-align: justify;
    font-size: 1.1rem;
    color: var(--secondary-soft-color);
}
@media (min-width: 321px) {
    .bio {
        padding-top: 50px;
        margin: auto 90px;
    }
}
