@import "./globales.scss";
@import "./header.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--primary-font), sans-serif;
}
.error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 15px 0;
	p {
		color: var(--secondary-soft-color);
		font-family: var(--secondary-font), sans-serif;
	}
}
.error {
	background-image: url("https://media1.tenor.com/images/d0ed52f3f0b201dcca575563c66ef445/tenor.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
