.logo {
    background-image: url("https://image.flaticon.com/icons/png/512/1674/1674294.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 50px;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 15px 0 35px;
  }
  
  .main-nav {
    padding: 0px;
    background-color: var(--black);
    margin: 0 auto;
  }
  
  .main-nav--options {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .main-nav__item {
    text-align: center;
    padding: 15px 16px;
  
    a {
      text-decoration: none;
      color: var(--primary-soft-color);
    }
  
    &:hover {
      background-color: var(--primary-dark-color);
      color: #ffe3de;
    }
  }