.logo {
    background-image: url("https://image.flaticon.com/icons/png/512/1674/1674294.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 50px;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 5px 0 8px;
  }
  
  .main-nav {
    width: 100%;
    background-color: var(--black);
    margin: 0 auto;
    padding: 0px;
    display: flex;
  }
  
  .main-nav--options {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;
  }
  
  .main-nav__item {
    text-align: center;
  
    a {
      text-decoration: none;
      color: var(--primary-soft-color);
      padding: 15px 8px;
    }
  
    &:hover {
      background-color: var(--primary-dark-color);
      color: #ffe3de;
      padding: 15px 5px;
    }
  }