@import "./globales.scss";
@import "./header.scss";
  
  @media (min-width: 634px) {
    .main-nav {
      margin: 0 auto;
      padding: 0px;
      background-color: var(--black);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px 0 0 0;
    height: 100%;
  }
  
  h1 {
    font-family: var(--secondary-font);
    color: var(--secondary-soft-color);
    text-align: center;
  }
  
  .construction {
    background-image: url("../images/Under Constructions_Isometric.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 250px;
  }