@import "./globales.styl"
@import "./header.styl"

.bio 
    padding-top: 20px 
    margin: auto 35px
    & h1 
        font-family: var(--secondary-font)
        color: var(--secondary-soft-color)
    & h3 
        font-family: var(--secondary-font)
        color: var(--secondary-soft-color)
    & p
        margin: 1em 0;
        line-height: 1.6em;
        text-align: justify
        font-size: 1.1rem
        color: var(--secondary-soft-color)

@media(min-width: 321px)
    .bio
        padding-top: 50px 
        margin: auto 90px