:root
    /* Paleta de colores */
    --primary-soft-color: #b3bde0
    --secondary-soft-color: #051557
    --primary-dark-color: #0a2d9e
    --secondary-dark-color: #56597f
    --black: #05001e
    /* Fonts */
    --primary-font: 'Quicksand'
    --secondary-font: 'Raleway'

* 
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: var(--primary-font) , sans-serif
    color: var(--primary-soft-color)

