@import "./globales.styl"
@import "./header.styl"

main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 50px 0 0 0
    height: 100%
h1 
    font-family: var(--secondary-font)
    color: var(--secondary-soft-color)
    text-align: center
.construction
    background-image: url('../images/Under Constructions_Isometric.svg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    width: 250px
    height: 250px